<div *ngIf="products$ | async as products" class="products-container">
  <ng-container *ngIf="products.length; else noProducts">
    <button mat-button [matMenuTriggerFor]="add" #clickMenuTrigger="matMenuTrigger"
      matTooltip="Click to open creating menu">
      Add new product
      <mat-icon>add_circle</mat-icon>
    </button>
    <div class="options-buttons">
      <button mat-button [matMenuTriggerFor]="sortingMenu" #clickMenuTrigger="matMenuTrigger"
        matTooltip="Click to open sorting menu">
        Sort by {{sorting}}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="filtersMenu" #clickMenuTrigger="matMenuTrigger"
        matTooltip="Click to open filters">
        Filters
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 products"
        *ngFor="let product of (products | sortingProducts:sorting | priceFiler:filters)"
        [routerLink]="['../product/' + product.id]">
        <mat-card class="product">
          <app-product [product]="product"></app-product>
          <mat-icon (click)="deleteProduct(product.id!)" matTooltip="Delete">delete</mat-icon>
        </mat-card>
        <div class="margin"></div>
      </div>
    </div>
  </ng-container>
</div>

<app-loader *ngIf="isLoading$ | async"></app-loader>

<ng-template #noProducts>
  <div class="products-message">
    <span>You have no products, but you can</span>
    <button mat-button [matMenuTriggerFor]="add" #clickMenuTrigger="matMenuTrigger"
      matTooltip="Click to open creating menu">
      Add new product
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</ng-template>

<mat-menu #add="matMenu">
  <app-edit (click)="$event.stopPropagation()" (closeMenu)="closeMenu()"></app-edit>
</mat-menu>

<mat-menu #sortingMenu="matMenu">
  <div *ngFor="let sortingParam of sortingParams" mat-menu-item (click)="sorting = sortingParam">
    <div [ngClass]="{'selected': sortingParam === sorting}" class="sorting">{{sortingParam}}
    </div>
  </div>
</mat-menu>

<mat-menu #filtersMenu="matMenu" class="filters">
  <form [formGroup]="priceForm" (ngSubmit)="submitPriceForm()" (click)="$event.stopPropagation()">
    <div class="price-inputs">
      <span>Price</span>
      <input type="number" [value]="priceForm.value.min" formControlName="min">
      <span>-</span>
      <input type="number" [value]="priceForm.value.max" formControlName="max">
    </div>
    <div class="slider-container">
      <mat-slider min="0" max="10000" class="slider">
        <input [value]="priceForm.value.min" matSliderStartThumb formControlName="min">
        <input [value]="priceForm.value.max" matSliderEndThumb formControlName="max">
      </mat-slider>
    </div>
  </form>
  <div class="filters-message">
    <div *ngIf="!filters">Filters not applied!</div>
  </div>
  <div class="price-buttons">
    <button mat-raised-button (click)="cancelPrice()" matTooltip="Сancel filters">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitPriceForm()" matTooltip="Submit filters">Submit</button>
  </div>
</mat-menu>