.products-container {
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.products-message {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  font-size: medium;
  justify-content: center;
  align-items: center;

  >button {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: azure;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-radius: 8px;
    background-color: rgb(234, 255, 255);
  }

  &:active {
    transform: scale(0.9);
  }
}

.margin {
  width: 10px;
}

.filters {
  padding: 10px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.slider {
  width: 230px;
}

.price-inputs {
  display: flex;
  align-items: center;
  padding: 10px;

  >input {
    width: 70px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgb(117, 227, 241);
  }
}

.price-buttons {

  >button {
    margin: 0 27px;
  }
}

.filters-message {
  margin: 0 auto;
  width: 210px;
  margin-bottom: 10px;
  color: rgb(26, 49, 255);

  >div {
    text-align: center;
  }
}

.sorting {
  padding: 5px;
}

.selected {
  border: 1px solid rgb(175, 234, 252);
  background-color: rgb(240, 253, 255);
  border-radius: 8px;
}

.options-buttons {
  width: 600px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 12px;

  >button {
    width: 50%;
  }
}

@media (max-width: 1400px) {
  .product {
    padding: 10px;
  }
}

// @media(max-width: 1280px) {
//   .product {
//     width: 200px
//   }
// }

// @media(max-width: 1080px) {
//   .product {
//     width: 180px
//   }
// }

@media (max-width: 768px) {
  .options-buttons {
    width: 100%;
  }
}