<form [formGroup]="editForm" (ngSubmit)="submitForm()">
  <app-text-input [value]="editForm.value.name" [label]="'Name'" formControlName="name"></app-text-input>
  <app-text-input [value]="editForm.value.description" [label]="'Short description'"
    formControlName="description"></app-text-input>
  <app-text-input [value]="editForm.value.image" [label]="'Image'" formControlName="image"></app-text-input>
  <app-text-input [value]="editForm.value.price" [label]="'Price'" formControlName="price"></app-text-input>
  <app-text-input [value]="editForm.value.fullDescription" [label]="'Full description'"
    formControlName="fullDescription"></app-text-input>
  <app-text-input [value]="editForm.value.year" [label]="'Year'" formControlName="year"></app-text-input>
  <button mat-raised-button color="primary" [disabled]="editForm.invalid">Submit changes</button>
</form>