<ng-container *ngIf="product$ | async as product">

  <div class="container">
    <button mat-button [matMenuTriggerFor]="edit">
      Edit product
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div class="item row">
      <div class="col-md-5 item__img">
        <img width="200" height="400" [ngSrc]="'https://pcshop.ua/image/cache/catalog/tovar/29408_2-1024x768.jpg'"
          alt={{product.name}}>
      </div>
      <div class=" col-md-7 item__info">
        <h3>{{product.name}}</h3>
        <div class="description">{{product.fullDescription}}</div>
        <div class="row">
          <p class="col-6 col-sm-4 col-md-2 product-info__option-name">Description</p>
          <p class="col-6 col-sm-6 col-md-8 product-info__info-text">{{product.description}}</p>
        </div>
        <div class="row">
          <p class="col-6 col-sm-4 col-md-2 product-info__option-name">Year:</p>
          <p class="col-6 col-sm-6 col-md-10 product-info__info-text">{{product.year}}</p>
        </div>
        <div class="buy row">
          <div class="col-6 col-sm-6 col-md-3 offset-md-1 buy__price">{{product.price}} USD</div>
          <div class="col-6 col-sm-6 col-md-4 offset-md-2">
            <button class="buy__button" type="submit">+ Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-menu #edit="matMenu">
    <app-edit (click)="$event.stopPropagation()" [product]="product"></app-edit>
  </mat-menu>
</ng-container>